/* Geral */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: default;
}

/* Animações */



/* Complete */

body {
    background-color: #13131f;
}

#body {
    width: 800px;
    margin: auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 30px 0px;
    color: #7f48d7;
}

#nav-inicio {
    color: white;
}

h1 {
    letter-spacing: -2px;
}

h1 span:hover {
    color: white;
}

a {
   color:#7f48d7;
   margin-right: 8px;
   cursor: pointer;
   font-weight: bold;
}

a:last-child {
    margin-right: 0px;
}

a:hover {
    color: white;
}

hr {
    border-color: #7f48d7;
}

hr:hover {
    border-color: white;
    transition: border-color 0.2s;
}

/* Main */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 30px 0px;
    color: #7f48d7;
}

main img {
    width: 230px;
    height: 230px;
    border-radius: 20px;
    background-color: #7f48d7;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

main img:hover {
    background-color: white;
}

h2 {
    font-size: 38px;
}

h4 {
    font-size: 15px;
    
}

h3 {
    font-size: 24px;
}

#buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#buttons a {
    color: white;
    padding: 8px 32px;
    flex: 1;
}

#buttons a:first-child {
    background-color: #2a2929;
    padding: 8px 34px;
}

#buttons a:last-child {
    background-color: #0087ca;
    padding: 8px 30px;
}

#buttons a:hover {
    background-color: white;
    color: #7f48d7;
    transition: background-color 0.5s, color 0.5s;
}

#button-add {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#button-add a {
    background-color: #00da19;
    color: white;
    padding: 8px 32px;
    flex: 1;
    text-align: center;
}

#button-add a:hover {
    background-color: white;
    color: #7f48d7;
    transition: background-color 0.5s, color 0.5s;
}
